@import "tailwindcss";

@font-face {
  font-family: "PixelFont";
  src: url("/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.pixel-font {
  font-family: "PixelFont", monospace;
}
