@import "tailwindcss";

@font-face {
  font-family: "PixelFont";
  src: url("/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Apply the offset to every section that has an ID */
section[id] {
  scroll-margin-top: 5rem; 
}

.pixel-font {
  font-family: "PixelFont", Monaco, monospace, "SFMono-Regular", Menlo, Consolas, "Liberation Mono", "Courier New";
}

.monaco-font {
  font-family: Monaco, "SFMono-Regular", Menlo, Consolas, "Liberation Mono", "Courier New", monospace;
}